<nav id="educacion" class="container mt-5 p-5 pt-4 rounded-4 profile-card sombras bg-dark text-light">
  <div class="d-flex flex-row w-100 justify-content-end">
  </div>
  <h2>Educacion</h2>
  <div *ngIf="educaciones && educaciones.length > 0">
    <ul>
      <li *ngFor="let educacion of educaciones" class="m-5">
        <h6>Titulo: {{educacion?.tituloEdu}}</h6>
        <h6>Institucion: {{educacion?.institucionEdu}}</h6>
        <h6>Periodo: {{educacion?.periodoEdu}}</h6>
        <h6>Descripción: {{educacion?.descripcionEdu}}</h6>
        <button *ngIf="isAuthenticated" type="button" class="ms-2 btn btn-warning btn-edit"
          (click)="editar(educacion)"><i class="bi-pencil"></i></button>
        <button *ngIf="isAuthenticated" type="button" class="ms-2 btn btn-danger btn-edit"
          (click)="eliminar(educacion.id)"><i class="bi-trash"></i></button>
      </li>
    </ul>
    <div class="d-flex flex-row w-100">
      <button *ngIf="isAuthenticated" type="button" class="btn btn-primary mb-5"
        (click)="toggleFormulario()">Agregar</button>
    </div>
    <div *ngIf="mostrarFormulario">
      <div class="mb-3">
        <form (ngSubmit)="agregarEducacion()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Titulo:</label>
              <input type="text" class="form-control mb-3" name="tituloEdu" [(ngModel)]="nuevaEducacion.tituloEdu" placeholder="Titulo">
            </div>
            <div class="form-group col-md-6">
              <label>Institucion:</label>
              <input type="text" class="form-control mb-3" name="institucionEdu" [(ngModel)]="nuevaEducacion.institucionEdu"
                placeholder="Institucion">
            </div>
            <div class="form-group col-md-6">
              <label>Periodo:</label>
              <input type="text" class="form-control mb-3" name="periodoEdu" [(ngModel)]="nuevaEducacion.periodoEdu" placeholder="Periodo">
            </div>
            <div class="form-group col-md-6">
              <label>Descripción</label>
              <input type="text" class="form-control mb-3" name="descripcionEdu" [(ngModel)]="nuevaEducacion.descripcionEdu"
                placeholder="Descripción">
            </div>
            <button class="btn btn-success m-4" type="submit"><i class="bi bi-check-lg"></i></button>
          </div>
        </form>
      </div>
    </div>