<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/APLogo-20-20.png" class="arg-prog" alt="Logo Argentina Programa"
        height="25px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" (click)="mostrarComponente('inicio')">Inicio</a>
        <a class="nav-link" (click)="mostrarComponente('acercade')">Acerca de</a>
        <a class="nav-link" (click)="mostrarComponente('habilidades')">Habilidades</a>
        <a class="nav-link" (click)="mostrarComponente('experiencia')">Experiencia</a>
        <a class="nav-link" (click)="mostrarComponente('educacion')">Educacion</a>
        <a class="nav-link me-5" (click)="mostrarComponente('proyectos')" data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup">Proyectos</a>
        <div class="mt-2 me-5">
          <a href="https://github.com/agustinalsina85" target="_blank"><i class="bi bi-github logos-redes"
              style="margin-right: 20px;"></i></a>
          <a href="https://wa.me/+542984647124" target="_blank"><i class="bi bi-whatsapp logos-redes"
              style="margin-right: 20px;"></i></a>
          <a href="mailto:agustinalsina85@gmail.com" target="_blank"><i class="bi bi-envelope logos-redes"></i></a>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-secondary text-black" *ngIf="isAuthenticated" (click)="onClick()">Logout</button>
        </div>
        <div class="text-center" *ngIf="!isAuthenticated">
          <button type="button" class="btn btn-secondary text-black" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Login
          </button>          
        </div>
      </div>
    </div>
  </div>
</nav>
<app-login></app-login>