<nav id="experiencia" class="container mt-5 p-5 pt-4 rounded-4 profile-card sombras">
  <div class="d-flex flex-row w-100 justify-content-end">
  </div>
  <h2>Experiencia</h2>
  <div *ngIf="experiencias && experiencias.length > 0">
    <ul>
      <li *ngFor="let experiencia of experiencias" class="m-5">
        <h6>Puesto: {{experiencia?.puestoExp}}</h6>
        <h6>Organismo: {{experiencia?.organismoExp}}</h6>
        <h6>Periodo: {{experiencia?.periodoExp}}</h6>
        <h6>Descripción: {{experiencia?.descripcionExp}}</h6>
        <button *ngIf="isAuthenticated" type="button" class="ms-2 btn btn-primary btn-edit"
          (click)="editar(experiencia)"><i class="bi-pencil"></i></button>
        <button *ngIf="isAuthenticated" type="button" class="ms-2 btn btn-danger btn-edit"
          (click)="eliminar(experiencia.id)"><i class="bi-trash"></i></button>
      </li>
    </ul>
    <div class="d-flex flex-row w-100">
      <button *ngIf="isAuthenticated" type="button" class="btn btn-primary mb-5"
        (click)="toggleFormulario()">Agregar</button>
    </div>
    <div *ngIf="mostrarFormulario">
      <div class="mb-3">
        <form (ngSubmit)="agregarExperiencia()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Puesto:</label>
              <input type="text" class="form-control mb-3" name="puestoExp" [(ngModel)]="nuevaExperiencia.puestoExp"
                placeholder="Puesto">
            </div>
            <div class="form-group col-md-6">
              <label>Organismo:</label>
              <input type="text" class="form-control mb-3" name="organismoExp"
                [(ngModel)]="nuevaExperiencia.organismoExp" placeholder="Organismo">
            </div>
            <div class="form-group col-md-6">
              <label>Periodo:</label>
              <input type="text" class="form-control mb-3" name="periodoExp" [(ngModel)]="nuevaExperiencia.periodoExp"
                placeholder="Periodo">
            </div>
            <div class="form-group col-md-6">
              <label>Descripción:</label>
              <input type="text" class="form-control mb-3" name="descripcionExp"
                [(ngModel)]="nuevaExperiencia.descripcionExp" placeholder="Descripción">
            </div>
            <button class="btn btn-success m-6" type="submit"><i class="bi bi-check-lg"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>