.profile-card {
    background-color: #f5f3f4;
}

.profile-image {
    transition-duration: 0.5s;
    border-radius: 10%;
    width: 152px;
    height: 130px;
    margin-top: -60px;
    margin-left: 20px;
    z-index: 1;
}

.profile-image:hover {
    scale: 1.1;
}

/* sombras */
.sombras {
    transition-duration: 0.5s;
}

.sombras:hover {
    box-shadow: 5px 5px 15px rgb(240, 240, 240);
    scale: 1.01;
}

p {
    font-size: 16px;
}

.logos-redes {
    color: rgb(0, 0, 0);
}

.logos-redes:hover {    
    transition-duration: 0.3s;
    color: rgb(236, 236, 236);
}

.nav-link {
    border-radius: 5px;
    cursor: pointer;
}
.nav-link:hover {    
    transition-duration: 0.3s;
    background-color: gray;
}

.navbar {
    background-color: #b5b4b4;
}

.btn {
    background-color: black;
}

.arg-prog:hover {
    transition-duration: 0.4s;
    scale: 1.15;

}