body {

    /*background: #134E5E;
    background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);
    background: linear-gradient(to bottom, #71B280, #134E5E);
    background-attachment: fixed;*/
    background: #191c1e !important;
}

.banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    /*    opacity: 0.5;*/
}

.profile-card {
    background-color: #2e3133;
    color: #ffffff;
}

.profile-image {
    transition-duration: 0.5s;
    border-radius: 10%;
    width: 152px;
    height: 130px;
    margin-top: -60px;
    margin-left: 20px;
    z-index: 1;
}

.profile-image:hover {
    scale: 1.1;
}

/* sombras */
.sombras {
    transition-duration: 0.5s;
}

.sombras:hover {
    box-shadow: 5px 5px 15px rgb(240, 240, 240);
    scale: 1.01;
}

p {
    font-size: 16px;
}

.logos-redes {
    color: #9aaab6;
}

.logos-redes:hover {
    transition-duration: 0.3s;
    color: rgb(236, 236, 236);
}

.nav-link {
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700 !important;
    color: #9aaab6 !important;
}

.nav-link:hover {
    transition-duration: 0.3s;
    background-color: rgba(128, 128, 128, 0.5);
    color: white !important;
}

.nav-bar {
    background-color: transparent !important;
}

/*.navbar {
    background-color: #b5b4b4;
    opacity: 0.5;
}
.navbar:hover {
    transition-duration: 0.5s;
    opacity: 1;
}
*/
.btn {
    background-color: black;
}

.btn:hover {
    background-color: rgba(128, 128, 128, 0.5) !important;
    color: white !important;
}

.arg-prog:hover {
    transition-duration: 0.4s;
    scale: 1.15;

}