<nav id="acercade" class="container mt-5 p-5 pt-4 rounded-4 profile-card sombras">
  <h2>Acerca de</h2>
  <div *ngFor="let persona of encabezado" class="m-5">
    <h6>{{persona?.descripcion}}</h6>
    <button *ngIf="isAuthenticated" type="button" class="ms-2 btn btn-primary btn-edit"
          (click)="editar(persona)"><i class="bi-pencil"></i></button>
  </div>
  <div *ngIf="mostrarFormulario">
    <div class="mb-3">
      <form (ngSubmit)="agregarAcercade()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Descripción</label>
            <input type="text" class="form-control mb-3" name="descripcion"
              [(ngModel)]="nuevaAcercade.descripcion" placeholder="Descripción">
          </div>
          <button class="btn btn-success m-4" type="submit"><i class="bi bi-check-lg"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>